# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env
.env.*

# VSCode
.vscode/

# Database files
*.faiss
*.pkl
*.db
*.sqlite3
documents/

# Node.js
node_modules/
package-lock.json

# Output files and evaluation results
*.csv
*.log
*.xlsx

# OS files
.DS_Store
Thumbs.db

# Static and build artifacts
static/css/output.css
static/css/*.css
static/images/*.png

# Tailwind and frontend build
src/*.css
build_css.py

tailwind.config.js